Adafruit-Blinka==8.47.0
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.1
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-motor==3.4.13
adafruit-circuitpython-pca9685==3.4.15
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==4.1.6
adafruit-circuitpython-servokit==1.3.17
adafruit-circuitpython-typing==1.11.0
Adafruit-PlatformDetect==3.73.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorzero==2.0
dnspython==2.6.1
Flask==3.0.3
Flask-PyMongo==2.3.0
gpiozero==2.0.1
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pluggy==1.5.0
pyftdi==0.55.4
pymongo==4.8.0
pyserial==3.5
pytest==8.3.3
python-dotenv==1.0.1
pyusb==1.2.1
requests==2.32.3
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
setuptools==73.0.1
smbus==1.1.post2
spidev==3.6
sysv_ipc==1.1.0
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
